<div class="modal-header">
	<button data-dismiss="modal" aria-label="{{ 'GENERAL.CLOSE' | translate }}" class="icon-close" ng-click="cancel()"></button>
</div>
<div class="modal-body">
	<div class="heading-extra-small" id="modal-title">
		<p ng-bind-html="data.modalBody"></p>
	</div>	
</div>
<div class="modal-footer">
	<a href="" class="btn btn-primary btn-sm" data-dismiss="modal" role="button" ng-click="data.populateProvider(data.model)">{{ 'GENERAL.UNDERSTOOD' | translate }}</a>
	<a href="" class="btn btn-primary btn-sm" data-dismiss="modal" role="button" ng-click="cancel()">{{ 'GENERAL.CANCEL' | translate }}</a>	
</div>