<div class="modal-header">
	<button data-dismiss="modal" class="icon-close" aria-label="{{'GENERAL.CLOSE' | translate}} {{'
SUBMITTED_APPLICATION.SUPPORT_DOCUMENTS.MODAL.MODAL' | translate}}" ng-click="cancel()"></button>
</div>
<div class="modal-body">
	<div class="heading-extra-small" id="modal-title">{{'MODALS.ADD_COMMENT.INELIGIBLE_HEADER' | translate}}</div>
	<p>{{'MODALS.ADD_COMMENT.INELIGIBLE_BODY' | translate}}</p>
</div>
<div class="modal-footer">
	<button data-dismiss="modal" class="btn btn-primary btn-sm" ng-click="cancel()">{{'GENERAL.OK' | translate}}</button>
</div>
