<h1 class="sr-only">{{ 'CHANGE_PASSWORD.HEADER' | translate }} {{ 'GENERAL.HEADER' | translate }}</h1>
<div class="tile col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
<div class="error" ng-if="changePasswordCtrl.status=='error'"><span class="icon-error"></span>{{changePasswordCtrl.message}}</div>
<h2>{{ 'CHANGE_PASSWORD.HEADER' | translate }}</h2>
<div class="row">
	<p class="explination margin-0 col-xs-12" ng-bind-html="changePasswordCtrl.changePasswordContent"></p>
</div>
<form name="changePasswordForm" novalidate ng-submit="submitChangePasswordForm()" role="form" aria-label="Change Password">
	<div class="row input-row">
		<div class="form-group" ng-class="{ 'field-error' : changePasswordForm.oldPwd.$invalid && !changePasswordForm.oldPwd.$pristine}" role="alert">
			<div class="col-xs-12">
				<input id="currentPassword" name="oldPwd" type="password" class="form-control" ng-model="formData.currentPassword" placeholder="{{ 'CHANGE_PASSWORD.PLACEHOLDER.CURRENT_PASSWORD' | translate }}" required ></input>
				<span data-grunticon-embed class="icon-password"></span>
				<span class = "help-block" ng-messages="changePasswordForm.oldPwd.$error" ng-show="changePasswordForm.$submitted || changePasswordForm.oldPwd.$dirty">
					<span ng-messages-include="src/components/errors/general.html"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="row input-row">
		<!-- TODO get the ng-pattern from the constants file -->
		<div class="form-group" ng-class="{ 'field-error' : changePasswordForm.newPwd.$invalid && !changePasswordForm.newPwd.$pristine}" role="alert">
			<div class="col-xs-12">
				<input id="newPasswordID" name="newPwd" type="password" class="form-control" ng-model="formData.newPassword"  placeholder="{{ 'CHANGE_PASSWORD.PLACEHOLDER.NEW_PASSWORD' | translate }}" ng-minlength="8" ng-maxlength="12" ng-pattern="global.constants.patterns.password" required></input>
				<span data-grunticon-embed class="icon-password"></span>
				<span class = "help-block" ng-messages="changePasswordForm.newPwd.$error" ng-show="changePasswordForm.$submitted || changePasswordForm.newPwd.$dirty">
					<span ng-messages-include="src/components/errors/password.html"></span>
					<span ng-messages-include="src/components/errors/general.html"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="row input-row">
		<div class="form-group" ng-class="{ 'field-error' : changePasswordForm.cfmNewPwd.$invalid && !changePasswordForm.cfmNewPwd.$pristine}" role="alert">
			<div class="col-xs-12">
				<input id="confirmNewPassword"  name="cfmNewPwd" type="password" class="form-control" ng-model="formData.confirmNewPassword" placeholder="{{ 'CHANGE_PASSWORD.PLACEHOLDER.CONFIRM_PASSWORD' | translate }}" ng-pattern="global.constants.patterns.password" ng-minlength="8" ng-maxlength="12" compare-inputs="formData.newPassword" required></input>
				<span data-grunticon-embed class="icon-password"></span>
				<span class = "help-block field-error" ng-messages="changePasswordForm.cfmNewPwd.$error" ng-show="changePasswordForm.$submitted || changePasswordForm.cfmNewPwd.$dirty">
					<span ng-messages-include="src/components/errors/password.html"></span>
					<span ng-messages-include="src/components/errors/general.html"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="row input-row">
		<div class="form-group">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary btn-block" ng-class="{working: changePassword.status === 'submitting'}" ng-disabled="changePasswordForm.$invalid">{{ 'CHANGE_PASSWORD.SUBMIT' | translate }}</button>
			</div>
		</div>
	</div>
</form>