<!doctype html>
<html lang="en-us">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
		<link href="../../../dist/css/global.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="../../../dist/assets/icons/grunticon.loader.js"></script>
		<script>
			grunticon(['../../../dist/assets/icons/icons.data.svg.css', '../../../dist/assets/icons/icons.data.png.css', '../../../dist/assets/icons/icons.fallback.css'], grunticon.svgLoadedCallback);
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="tile">
				<div data-grunticon-embed class="icon-logoEdAssist"></div>
				<h1 class="">Oops! Something went wrong.</h1>
				<h3>We apologize, EdAssist is having trouble recovering your page. One of our engineers is working to resolve the problem.</h3>
				<h3>We recommend logging back into EdAssist.</h3>
			</div>
		</div>
	</body>
</html>