<fieldset ng-if="model.programs.length" class="margin-bottom-5">
	<legend>
		<span class="icon-circleDocument"></span>
		<span class="heading-small">{{'CLIENT_ADMIN.PROFILE.PROGRAM.PROGRAM_HEADER' | translate }}</span>
	</legend>
	<div ng-repeat="program in model.programs" st-table="model.programs" class="profile-table-wrapper table-responsive">
		<table class="table">
			<tr>
				<th class="col-xs-3">{{'CLIENT_ADMIN.PROFILE.PROGRAM.PROGRAM_NAME' | translate }}</th>
				<th class="col-xs-3">{{'CLIENT_ADMIN.PROFILE.PROGRAM.PROGRAM_STATUS' | translate }}</th> 
				<th class="col-xs-3">{{'CLIENT_ADMIN.PROFILE.PROGRAM.RULE_NAME' | translate }}</th>
				<th class="col-xs-3">{{'CLIENT_ADMIN.PROFILE.PROGRAM.MESSAGE' | translate }}</th>
			</tr>
			<tr ng-if="model.programs.length" ng-repeat="program in model.programs">
				<td>{{program.programName}}</td>
				<td>{{program.status}}</td>
				<td>{{profileProgramsCtrl.rule.ruleName}}</td>
				<td>{{profileProgramsCtrl.rule.ruleMessage}}</td>
			</tr>
			<tr ng-if="!model.programs" ng-repeat="program in model.programs">
				<td colspan="4">{{'CLIENT_ADMIN.CLIENT_ADMIN_TICKET.NO_TICKET_DATA' | translate }}</td>
			</tr>
		</table>
	</div>
</fieldset>